Thanks for your e-mail. A new ticket has been created.

----------------------------------------
<%= render :partial => "mailer/issue_text_plain", :locals => { :issue => @issue, :issue_url => @issue_url } %>

----------------------------------------
Your e-mail will be answered by a human asap,
